NEXTAUTH_SECRET=xxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxx
JWT_TOKEN=xxxxxxxxxxxxxxxxxx
JWT_ADMIN_TOKEN=xxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SOCKET_URL=xxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_API_URL=xxxxxxxxxxxxxxxxxx