# =========================
# 🌐 URLs públicas (Frontend)
# =========================
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"

# =========================
# 🔐 Token (evite expor no frontend)
# =========================
JWT_TOKEN="your_jwt_secret_here"